nav {
  background: #1d1d27;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  z-index: 2;
}
nav h3 {
  font-family: "Pacifico";
  font-size: 2rem;
  font-weight: lighter;
  color: #95a7d8;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list li {
  margin: 0 1rem;
  font-family: Paytone one;
  color: #95a7d8;
  font-weight: lighter;
}
.nav-list li:hover {
  color: #d7b6b8;
  cursor: pointer;
}
.resume {
  color: #95a7d8;
  text-decoration: none;
}
.desc {
  font-weight: 300;
}
.profile-pic {
  height: 65%;
  border-radius: 10px;
  transition-duration: 1s;
  cursor: pointer;
}
.profile-pic:hover {
  transform: scale(1.1);
  filter: saturate(2);
}
.sub-panel {
  /* background: palegoldenrod; */
  color: #95a7d8;
  margin: 6rem 3rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  position: relative;
}

.timeline {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 5px 0;
}

@media (max-width: 700px) {
  html {
    font-size: 13px;
  }
  .nav2 {
    flex-direction: column;
  }
  .profile-pic {
    height: 60%;
  }
  .sub-panel {
    margin: 4rem 0rem;
    padding: 0rem 1.5rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 13px;
  }
  .profile-pic {
    height: 50%;
  }
  .sub-panel {
    margin: 4rem 0rem;
    padding: 0.5rem 1rem;
  }
  nav {
    padding: 1rem 1rem;
  }
  .nav-list {
    justify-content: center;
  }
  .nav-list li {
    margin: 0 0.4rem;
  }
}